! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

! GRUVBOX
#define gruv0 #282828
#define gruv1 #CC241D
#define gruv2 #98971A
#define gruv3 #D78821
#define gruv4 #458588
#define gruv5 #B16286
#define gruv6 #689D6a
#define gruv7 #A89984
#define gruv8 #928374
#define gruv9 #FB4934
#define gruv10 #B8BB26
#define gruv11 #FABD2F
#define gruv12 #83A598
#define gruv13 #D3869B
#define gruv14 #8EC07C
#define gruv15 #EBDBB2

*.foreground:   gruv15
*.background:   gruv0
*.cursorColor:  gruv15
*fading: 35
*fadeColor: gruv0

*.color0: gruv0
*.color1: gruv1
*.color2: gruv2
*.color3: gruv3
*.color4: gruv4
*.color5: gruv5
*.color6: gruv6
*.color7: gruv7
*.color8: gruv8
*.color9: gruv9
*.color10: gruv10
*.color11: gruv11
*.color12: gruv12
*.color13: gruv13
*.color14: gruv14
*.color15: gruv15

!URxvt.background:	#282828
!URxvt.foreground:	#EBDBB2
!URxvt.opacity: 50
URxvt.font:			xft:Hack:pixelsize=12:antialias=true:hinting=true
URxvt.boldFont:		xft:Hack:bold:pixelsize=12:antialias=true:hinting=true
URxvt.scrollBar:	false
URxvt.saveLines:	65535
URxvt.perl-ext-common: keyboard-select,url-select,clipboard
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
Xft*dpi:       96
Xft*antialias: True
Xft*hinting:   Full
URxvt.keysym.KP_Add:    +
URxvt.keysym.KP_Subtract: -
URxvt.keysym.KP_Multiply: *
URxvt.keysym.KP_Divide  : /
URxvt.keysym.KP_Decimal : .
URxvt.keysym.KP_Separator : ,
URxvt.keysym.KP_1:      1
URxvt.keysym.KP_2:      2
URxvt.keysym.KP_3:      3
URxvt.keysym.KP_4:      4
URxvt.keysym.KP_5:      5
URxvt.keysym.KP_6:      6
URxvt.keysym.KP_7:      7
URxvt.keysym.KP_8:      8
URxvt.keysym.KP_9:      9
URxvt.keysym.KP_0:      0

! === rofi ===

rofi.modi:                           ssh,window,drun,run
rofi.sidebar-mode:                   true
rofi.terminal:                       URxvt
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.opacity:                        90
rofi.width:                          50
rofi.lines:                          8
rofi.columns:                        2
rofi.font:                           Inconsolata 24
rofi.fg:                             #5294E2
rofi.bg:                             #5d729f
rofi.fg-active:                      #34405a
rofi.fg-urgent:                      #34405a
rofi.hlfg-active:                    #5e73a0
rofi.hlfg-urgent:                    #5e73a0
rofi.bg-active:                      #34405a
rofi.bg-urgent:                      #34405a
rofi.hlbg-active:                    #5d729f
rofi.hlbg-urgent:                    #5d729f
rofi.bgalt:                          #5671a0
rofi.hlfg:                           #34405a
rofi.hlbg:                           #34405a
rofi.bc:                             #789ee1
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF
!rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF
!rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF

!                  'background', 'border'
rofi.color-window: #353944,      #404552
rofi.bw:                             10
rofi.location:                       0
rofi.padding:                        20
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    2
rofi.separator-style:                solid
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width:                8
